*{
    box-sizing: border-box;
}

header {
    margin: 0;
    background-color: #211E23;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 0.3125em 0.9375em; /* 5px 15px */
    box-shadow: 0 5px 5px black;
}

body {
    background-color: rgba(139, 69, 19, 0.3);
    background-blend-mode: multiply;
    background-image: url("/images/marble.jpg");
    display: flex;
    flex-direction: column;
}

#sheet-body {
    align-self: center;
    background-color: rgb(209, 198, 179);
    background-blend-mode: multiply;
    background-size: cover;
    border: 2px solid maroon;
    border-radius: 10px;
    padding: 1em;
    color: black;
    position: relative;

    max-width: 900px;
    margin: 2em;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#sheet-body h1,
#sheet-body h2 {
    text-transform: uppercase;
    border-bottom: 2px solid maroon;
    color: rgb(79, 0, 0);
    /* 
    border-bottom: 2px solid #80c5ff; 
    color: #aedbff;
    */
}

#sheet-body h1,
#sheet-body h4 {
    text-align: center;
}

#sheet-body h4 {
    font-style: italic;
    font-weight: normal;
    grid-column: span 6;
    margin: 0 0 1em 0;
}

#sheet-body p {
    margin: 0.4em 0;
    line-height: 1.25em;
}

#sheet-body ul {
    display: flex;
    justify-content: center;
    margin-top: 0;
    list-style: none;
    padding: 0;
    gap: 1em;
}

.score-title {
    font-weight: bold;
    color: rgb(79, 0, 0);
    /*
    color: #aedbff;
    */
}

.ability {
    border: 1px solid maroon;
    background-color: rgb(192, 206, 187);
    /* border: 1px solid purple; */
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
    
}

#sheet-body .ability p,
#interactive-scores p {
    margin: 0;
    font-size: 2rem;
}

#sheet-body .ability h3,
#interactive-scores h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.75rem;
}

.mod-save {
    margin-top: 5px;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: rgb(157, 178, 149);
    /* background-color: #353535; */
}

.capitalize {
    text-transform: capitalize;
}

#img-attribution a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 2em;
    text-shadow: 0 0 5px black;
}

#img-attribution a:hover {
    color: maroon;
    text-shadow: 0 0 5px white;
}

#sheet-img {
    position: absolute;
    top: -20px;
    left: -20px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}

.sheet-top {
    align-self: flex-end;
    min-height: 180px;
    width: 500px;
    text-align: right;
}

#sheet-body .sheet-top h1,
#sheet-body .sheet-top h4 {
    text-align: right;
}

#interactive-scores {
    border: 1px solid maroon;
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: space-between;

    /* background-color: #393838;
    color: whitesmoke; */
}

#health-calculator {
    background-color: rgb(192, 206, 187);
    padding: 1em;
    border-radius: 5px;
    border: 1px solid rgb(157, 178, 149);
}

#health-calculator input[type="number"] {
    width: 100px;
    height: 80px;
    font-size: 1.75rem;
    /* background-color: #363338;
    border: 2px solid #5f8caa; */
    border-radius: 0;
    padding: 0.3125em 0.5em; /* 5px 8px */
}

#health-calculator button {
    width: 55px;
    background-color:rgb(131, 133, 130);
    margin: 0;
    border-radius: 0;
    font-size: 2rem;
    padding: 0.5em;
}

#health-calculator button:hover {
    box-shadow: 0 0 20px white;
}

#health-calculator #health-minus:hover {
    color: whitesmoke;
    background-color: red;
}

#health-calculator #health-plus:hover {
    color: whitesmoke;
    background-color: green;
}