/* COLOR PALETTE
Background: #211E23
Blue: #80c5ff
Purple: #aa00ff
Pink: #eda2c0
Green: 8ac781
*/

/* -- GENERAL -- */

:root {
    --background-primary-color: #211E23;
    --text-primary-color: #e6e6e6;
    --purple-accent-color: #aa00ff;
    --dark-purple-accent-color: #6f378b;
    --blue-accent-color: #80c5ff;
    --gray-secondary-color: #353535;
    --pale-blue-accent-color: #bbe1ff;
    --green-accent-color: #8ac781;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    font-family: "Amarante", serif;
    align-items: center;
}

#logo-hero {
    width: 200px;
    margin-right: 20px;
    padding: 0;
}

#nav-logo {
    height: 60px;
    padding: 5px;
    margin-left: 10px;
}

/* -- TYPOGRAPHY -- */

#hero-title,
#nav-title {
    background-image: linear-gradient(white 10%, var(--blue-accent-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 5px var(--purple-accent-color));
    margin: 0;
    padding: 0;
}

#hero-title {
    line-height: 80%;
    font-size: 5rem;
}

#nav-title {
    font-size: 2rem;
    margin-left: 15px;
}

#copyright-text {
    font-size: small;
    margin: auto auto;
}

p {
    font-size: 1.125rem; /* 18px */
}

.character p {
    margin: 0;
}

h2 {
    margin: 0 0 0.9375rem; /* 15px */
    padding: 0;
}

h3{
    margin: 0;
}

.title-glow,
.main-content-section h2 {
    margin: 0 0 0.625rem 0; /* 10px */
    color: var(--pale-blue-accent-color);
    text-shadow: 0 0 15px var(--purple-accent-color);
}

h1 {
    margin: 0 auto 0.625rem auto; /* 10px */
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.125rem; /* 18px */
}

a:hover,
a:active {
    color: #efadff;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-results h2 {
    text-transform: capitalize;
    margin: 0;
}

.search-result-item p {
    margin: 0;
}

.emphasis {
    color: var(--pale-blue-accent-color);
}

/* -- LAYOUT -- */

header {
    margin: 50px 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0.3125em 0.9375em; /* 5px 15px */
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px black;
}

footer {
    background-color: var(--background-primary-color);
    height: 100px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 -5px 10px black;
}

#hero-text-container {
    width: 300px;
}

#register-container,
#login-container {
    display: none;
    flex-direction: column;
    align-items: center;
    /* min-width: 90%; */
    box-sizing: border-box;
    height: auto;
    margin: 0 0.625em; /* 10px */
    padding: 0.9375em; /* 15px */
    background: linear-gradient(var(--background-primary-color), var(--background-primary-color)) padding-box,
                linear-gradient(var(--blue-accent-color), var(--purple-accent-color)) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
}

main {
    margin-top: 5em; /* 80px */
    margin-bottom: 1.25em; /* 20px */
    padding: 1.25em; /* 20px */
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1em;
    height: 100%;
}

#search-main-content {
    margin-top: 5.5em; /* 80px */
    margin-bottom: 1.25em; /* 20px */
    padding: 2em; /* 20px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

#search-results {
    width: 100%;
    text-align: start;
}

.search-result-item {
    border-bottom: 2px solid #80c6ff8e;
    padding: 1em;
}

#content-nav {
    margin: 0.625em auto; /* 10px */
    display: flex;
    list-style: none;
    gap: 0.9375em; /* 15px */
    padding: 0;
}

.nav-links {
    margin: auto auto 1em auto; /* 20px */
    display: none; /* change to flex */
    flex-direction: column;
    text-align: center;
    list-style: none;
    gap: 1.875em; /* 30px */
    grid-column: span 3;
    padding: 0;
}

.gradient-border {
    padding: 15px 25px;
    background: linear-gradient(var(--background-primary-color), var(--background-primary-color)) padding-box,
                linear-gradient(var(--blue-accent-color), var(--dark-purple-accent-color)) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
}

.main-content-section {
    max-width: 100%;
    min-height: 200px;
    border-radius: 10px;
    padding: 0.625em; /* 10px */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.character {
    margin: 0 auto 0.625em 0; /* 10px */
    padding: 0.625em; /* 10px */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--green-accent-color);
    border-radius: 5px;
}

.character:hover {
    background-color: var(--gray-secondary-color);
}

.search-result-item img {
    align-self: flex-start;
    margin-top: 1em;
    width: 200px;
    height: auto;
}

.search-result-content {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.search-result-content ul {
    display: flex;
    flex-direction: column;
}

.search-result-content li {
    line-height: 1.5em;
}

.search-result-content ul .ability-scores {
    flex-direction: row;
    list-style: none;
    gap: 0.25em;
    padding: 4px;
}

.search-result-content .ability-scores li {
    border: 1px solid var(--green-accent-color);
    border-radius: 4.6px;
    background-color: var(--gray-secondary-color);
    text-align: center;
}

#search-filters {
    display: none;
    text-align: start;
    flex-direction: column;
    margin-bottom: 1em;
}

#search-filters h3 {
    margin-bottom: 1em;
}

#search-results h3:hover {
    text-shadow: 0 0 10px #c654ff;
    cursor: pointer;
}

/* INTERACTIVE */

form {
    display: flex;
    flex-direction: column;
    gap: 0.25em; /* 4px */
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0.5em;
}

select,
input[type="email"],
input[type="password"],
input[type="search"] {
    width: 250px;
    margin-bottom: 0.625em; /* 10px */
    background-color: #363338;
    border: 2px solid #5f8caa;
    border-radius: 10px;
    padding: 0.5em 0.75em;
    color: whitesmoke;
}

input[type="radio"] {
    margin-right: 0.5em;
}

select,
input[type="search"] {
    min-width: 250px;
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--dark-purple-accent-color);
    border: none;
    border-radius: 5px;
    padding: 0.625em 1.25em; /* 10px 20px */
    margin-bottom: 0.625em; /* 10px */
}

button:hover,
button:active {
    background-color: #ebd7f5;
    color: #7700b3;
    box-shadow: 0 0 20px var(--purple-accent-color);
}

.hamburger {
    display: block;
    font-size: 2rem;
    background-color: var(--background-primary-color);
    padding: 0.2em 0.2em;
    margin: auto;
}

.hamburger:hover {
    background-color: var(--gray-secondary-color);
    color: whitesmoke;
    box-shadow: none;
}

/* -- UTILITY -- */

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* -- MEDIA QUERIES -- */

@media (min-width: 550px){

    nav {
        background-color: var(--background-primary-color);
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        position: fixed;
        padding: 0.3125em 0.9375em; /* 5px 15px */
        top: 0;
        left: 0;
        box-shadow: 0 5px 5px black;
    }

    .nav-links {
        margin: auto 1.25em auto auto; /* 20px */
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1.875em; /* 30px */
    }

    .hamburger {
        display: none;
    }

    #main-content {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
    }

    #user-welcome {
        grid-column: span 3;
    }

    header {
        flex-direction: row;
    }

    #register-container,
    #login-container {
        width: 450px;
        min-width: 450px;
        box-sizing: border-box;
        margin: 0 auto;
        text-align: center;
    }

}